# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1v1snakes_group8_submission\rl_trainer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
